{# [module]/templates/my-template.html.twig #}
{# In a Twig template we attach the library. #}
{{ attach_library('todo/todolist') }}

<div class="form-wrapper">
	<h1 class="todo-title">My Todo List</h1>
	{{ form }}
</div>